@namespace BlazorStrap
@inherits CodeBSDropdown

    <CascadingValue Value="@this">
        <CascadingValue Value="@DropDownMenu">
            @if (IsSubmenu)
            {
                <div class="dropdown-item">
                    <DynamicElement Attributes="@UnknownParameters" TagName="div" class="@classname" @onfocusin="@GotFocus" @onfocusout="@LostFocus">
                        @ChildContent
                    </DynamicElement>
                </div>
            }
            else
            {
                <DynamicElement Attributes="@UnknownParameters" TagName="div" class="@classname" @onfocusin="@GotFocus" @onfocusout="@LostFocus">
                    @ChildContent
                </DynamicElement>
            }
        </CascadingValue>
    </CascadingValue>