@namespace BlazorStrap
@inherits CodeBSModal


<DynamicElement Attributes="@UnknownParameters" style="@styles" TagName="div" class="@classname" tabindex="-1" role="dialog" @onclick="@onclick" @onkeydown="@onEscape">
    <div class="@innerClassname" role="document" @ref="Me" tabindex="-2">
        <div class="modal-content" @onclick="@dontclick">
            @ChildContent
        </div>
    </div>
</DynamicElement>

@if (_isOpen)
{
    <div class="modal-backdrop fade show"></div>
}