@namespace BlazorStrap
@inherits BSModalBase


<DynamicElement @attributes="@UnknownParameters" style="@styles" TagName="div" class="@classname" tabindex="-1" role="dialog" @onfocus="OnBackdropClick" @bind-ElementRef="MyRef" >
    <div class="@innerClassname" role="document"  tabindex="-2">
        <div class="modal-content"  @ref="Me">
            @ChildContent
        </div>
    </div>
</DynamicElement>
@if (!NoBackdrop)
{
    <div class="modal-backdrop fade @((IsOpen ?? false) ? "show" : "d-none")" ></div>
}
