@namespace BlazorStrap
@inherits ToggleableComponentBase

<CascadingValue Value="this">
    <DynamicElement @attributes="@UnknownParameters" style="@Styles" TagName="div" class="@Classname" tabindex="-1" role="dialog" @onfocus="OnBackdropClick" @bind-ElementRef="MyRef">
        <div class="@InnerClassname" role="document" style="@InnerStyles" tabindex="-2">
            <div class="modal-content" @ref="Me">
                @ChildContent
            </div>
        </div>
    </DynamicElement>
</CascadingValue>
@if (!NoBackdrop)
{
    <div class="modal-backdrop fade @((IsOpen ?? false) ? "show" : "d-none")"></div>
}
