@using BlazorStrap.V5

@if (_notFound)
{
    @ChildContent
}
else
{
    @foreach (var sample in Samples ?? [])
    {
        @sample.Content
        @if (sample.Component is not null)
        {
            <BSNav IsTabs="true">
                <BSNavItem>
                    <TabLabel>Example</TabLabel>
                    <TabContent>
                        <div class="@DefaultClass @sample.Class mt-0">
                            <DynamicComponent Type="@sample.Component"/>
                        </div>
                    </TabContent>
                </BSNavItem>
                <BSNavItem>
                    <TabLabel>Markup</TabLabel>
                    <TabContent>
                        <div class="@DefaultClass mt-0">
                            @ToSourceMarkupString(RemoveCode(@_files[sample.MarkupFile]))
                        </div>
                    </TabContent>
                </BSNavItem>
                <BSNavItem>
                    <TabLabel>Code</TabLabel>
                    <TabContent>
                        <div class="@DefaultClass mt-0">
                            @ToCodeMarkupString(RemoveMarkup(_files[sample.MarkupFile]))
                            @if (sample.HasCode)
                            {
                                <h5>Code Behind</h5>
                                @ToCodeMarkupString(_files[sample.CodeFile])
                            }
                        </div>
                    </TabContent>
                </BSNavItem>
                @if (sample.HasCss)
                {
                    <BSNavItem>
                        <TabLabel>Css</TabLabel>
                        <TabContent>
                            <div class="@DefaultClass mt-0">
                                <pre>@_files[sample.CssFile]</pre>
                            </div>
                        </TabContent>
                    </BSNavItem>
                }
            </BSNav>
        }
    }
}