@page "/samples/navbars2"
@addTagHelper *, BlazorStrap

<div class="headernav">
    <Container>
        <Row>
            <BlazorCol LG="1" XS="3" SM="2" MD="2" Class="logo"><a href="/"><img src="/logo.png" alt="" /></a></BlazorCol>
            <BlazorCol LG="3" XS="9" SM="5" MD="3" Class="selecttopic">
                <Dropdown IsOpen="@IsOpen">
                    <DropdownToggle onclick="@onclick">Borderlands 2 <b class="caret"></b></DropdownToggle>
                    <DropdownMenu IsOpen="@IsOpen">
                        <DropdownItem Href="#">Borderlands 1</DropdownItem>
                        <DropdownItem Href="#">Borderlands 2</DropdownItem>
                        <DropdownItem Href="#">Borderlands 3</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </BlazorCol>
            <BlazorCol LG="4" MD="3" Class="search hidden-xs hidden-sm">
                <div class="wrap">
                    <BlazorForm>
                        <div class="float-left txt"><BlazorInput InputType="InputType.Text" placeholder="Search Topics" /></div>
                        <div class="float-right"><BlazorButton><i class="fa fa-search"></i></BlazorButton></div>
                        <div class="clearfix"></div>
                    </BlazorForm>
                </div>
            </BlazorCol>
            <BlazorCol LG="4" XS="12" SM="5" MD="4" Class="avt">
                <div class="stnt float-left">
                    <BlazorForm>
                        <BlazorButton>Start New Topic</BlazorButton>
                    </BlazorForm>
                </div>
            </BlazorCol>
            <div class="env float-left"><i class="fa fa-envelope"></i></div>
            <Dropdown IsOpen="@IsOpen2" Class="avatar float-left">
                <DropdownToggle onclick="@onclick2"><img src="/avatar.png" alt="" /> <b class="caret"></b></DropdownToggle>
                <div class="status-green"></div>
                <DropdownMenu IsOpen="@IsOpen2">
                    <DropdownItem Href="#">My Profile</DropdownItem>
                    <DropdownItem Href="#">Inbox</DropdownItem>
                    <DropdownItem Href="#">Logout</DropdownItem>
                    <DropdownItem Href="#">Create Account</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </Row>
    </Container>
</div>
@functions  {
    bool IsOpen { get; set; }
    bool IsOpen2 { get; set; }
    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }
    void onclick2(UIMouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();
    }
}