@namespace BlazorStrap
@inherits ToggleableComponentBase

<div class="@Classname" id="@ElId" style="@Style" role="tooltip" popoverId="@Id" @onclick="OnClick" @ref="MyRef" @attributes="@UnknownParameters">
    <div @ref="Arrow" class="arrow"></div>
    @ChildContent
</div>