@page "/dropdowns"

<h1>Dropdowns</h1>

<div class="docs-example">
    <Dropdown>
        <DropdownToggle>Dropdown</DropdownToggle>
        <DropdownMenu>
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns1.html" />

<Alert Color="Color.Info">
    Currently only buttons are supported as dropdowns. See: https://github.com/aspnet/Blazor/issues/715
</Alert>

<h3>Color Variants</h3>

<p>Add the Color attribute to DropDownToggle to set the button color.</p>

<div class="docs-example">
    <ButtonGroup>
        <Dropdown>
            <DropdownToggle Color="Color.Primary">Dropdown</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown>
            <DropdownToggle Color="Color.Secondary">Dropdown</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown>
            <DropdownToggle Color="Color.Success">Dropdown</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown>
            <DropdownToggle Color="Color.Info">Dropdown</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown>
            <DropdownToggle Color="Color.Warning">Dropdown</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown>
            <DropdownToggle Color="Color.Danger">Dropdown</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </ButtonGroup>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns15.html" />

<h3>Split Button</h3>

<p>Note that you can also make a DropdownItem into a seperator by adding IsDivider="true" to the DropdownItem.</p>

<div class="docs-example">
    <Dropdown>
        <ButtonGroup>
            <BlazorButton Color="Color.Secondary">Action</BlazorButton>
            <DropdownToggle IsSplit="true" Color="Color.Secondary" />
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem IsDivider="true" />
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </ButtonGroup>
    </Dropdown>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns2.html" />

<h3>Sizing</h3>

<div class="docs-example">
    <ButtonGroup>
        <Dropdown>
            <DropdownToggle Color="Color.Secondary" Size="Size.Large">Large button</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown>
            <ButtonGroup>
                <BlazorButton Size="Size.Large" Color="Color.Secondary">Large split button</BlazorButton>
                <DropdownToggle Size="Size.Large" IsSplit="true" Color="Color.Secondary"/>
                <DropdownMenu>
                    <DropdownItem Href="#">Action</DropdownItem>
                    <DropdownItem Href="#">Another Action</DropdownItem>
                    <DropdownItem IsDivider="true" />
                    <DropdownItem Href="#">Yet Another Action</DropdownItem>
                </DropdownMenu>
            </ButtonGroup>
            </Dropdown>
    </ButtonGroup>
    <ButtonGroup>
        <Dropdown>
            <DropdownToggle Color="Color.Secondary" Size="Size.Small">Small button</DropdownToggle>
            <DropdownMenu>
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown>
            <ButtonGroup>
                <BlazorButton Size="Size.Small" Color="Color.Secondary">Small split button</BlazorButton>
                <DropdownToggle Size="Size.Small" IsSplit="true" Color="Color.Secondary"/>
                <DropdownMenu>
                    <DropdownItem Href="#">Action</DropdownItem>
                    <DropdownItem Href="#">Another Action</DropdownItem>
                    <DropdownItem IsDivider="true" />
                    <DropdownItem Href="#">Yet Another Action</DropdownItem>
                </DropdownMenu>
            </ButtonGroup>
        </Dropdown>
    </ButtonGroup>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns3.html" />

<h3>Directions</h3>

<h4>Dropup</h4>

<div class="docs-example">
    <ButtonGroup DropdownDirection="DropdownDirection.Up" IsOpen="@IsOpen12">
        <DropdownToggle Color="Color.Secondary" onclick="@onclick12" IsOpen="@IsOpen12">Dropup</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen12">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
    <ButtonGroup DropdownDirection="DropdownDirection.Up" IsOpen="@IsOpen13">
        <BlazorButton Color="Color.Secondary">Split Dropup</BlazorButton>
        <DropdownToggle IsSplit="true" Color="Color.Secondary" onclick="@onclick13" IsOpen="@IsOpen13" />
        <DropdownMenu IsOpen="@IsOpen13">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns4.html" />

<h4>Dropright</h4>

<div class="docs-example">
    <ButtonGroup DropdownDirection="DropdownDirection.Right" IsOpen="@IsOpen14">
        <DropdownToggle Color="Color.Secondary" onclick="@onclick14" IsOpen="@IsOpen14">Dropright</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen14">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
    <ButtonGroup DropdownDirection="DropdownDirection.Right" IsOpen="@IsOpen15">
        <BlazorButton Color="Color.Secondary">Split Dropright</BlazorButton>
        <DropdownToggle IsSplit="true" Color="Color.Secondary" onclick="@onclick15" IsOpen="@IsOpen15" />
        <DropdownMenu IsOpen="@IsOpen15">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns5.html" />

<div class="docs-example">
    <ButtonGroup DropdownDirection="DropdownDirection.Left">
        <DropdownToggle Color="Color.Secondary" onclick="@onclick17" IsOpen="@IsOpen17">Dropleft</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen17">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
    <ButtonGroup DropdownDirection="DropdownDirection.Left">
        <DropdownToggle IsSplit="true" Color="Color.Secondary" @onclick="@onclick18" IsOpen="@IsOpen18" />
        <DropdownMenu IsOpen="@IsOpen18">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
        <BlazorButton Color="Color.Secondary">Split Dropleft</BlazorButton>
    </ButtonGroup>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns6.html" />

<h3>Menu Items</h3>

<p>Menu items can be buttons</p>

<div class="docs-example">
    <Dropdown IsOpen="@IsOpen16">
        <DropdownToggle Color="Color.Secondary" @onclick="@onclick16" IsOpen="@IsOpen16">Dropdown</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen16">
            <DropdownItem IsButton="true" onclick="@menuButtonClick">Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem IsButton="true" onclick="@menuButtonClick">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns7.html" />

<p>You can also create non-interactive dropdown items with <code class="highlighter-rouge">.dropdown-item-text</code>. Feel free to style further with custom CSS or text utilities.</p>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <span class="dropdown-item-text">Dropdown item text</span>
        <DropdownItem href="#">Action</DropdownItem>
        <DropdownItem href="#">Another action</DropdownItem>
        <DropdownItem href="#">Something else here</DropdownItem>
    </DropdownMenu>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns8.html" />

<h3>Active</h3>
<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownItem href="#">Regular link</DropdownItem>
        <DropdownItem IsActive="true" href="#">Active link</DropdownItem>
        <DropdownItem href="#">Another link</DropdownItem>
    </DropdownMenu>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns9.html" />

<h3>Disabled</h3>
<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownItem href="#">Regular link</DropdownItem>
        <DropdownItem IsDisabled="true" href="#">Disabled link</DropdownItem>
        <DropdownItem href="#">Another link</DropdownItem>
    </DropdownMenu>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns10.html" />

<h3>Menu content</h3>
<h4>Headers</h4>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownHeader>Dropdown header</DropdownHeader>
        <DropdownItem href="#">Action</DropdownItem>
        <DropdownItem href="#">Another action</DropdownItem>
    </DropdownMenu>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns11.html" />

<h4>Dividers</h4>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownItem href="#">Action</DropdownItem>
        <DropdownItem href="#">Another action</DropdownItem>
        <DropdownItem Href="#">Something else here</DropdownItem>
        <DropdownItem IsDivider="true" />
        <DropdownItem Href="#">Separated link</DropdownItem>
    </DropdownMenu>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns12.html" />

<h4>Text</h4>
<div class="docs-example">
    <DropdownMenu Class="p-4 text-muted" Style="position: static; display: block; max-width: 200px;">
        <p>
            Some example text that's free-flowing within the dropdown menu.
        </p>
        <p class="mb-0">
            And this is more example text.
        </p>
    </DropdownMenu>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns13.html" />

<h4>Forms</h4>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <BlazorForm Class="px-4 py-3">
            <FormGroup>
                <BlazorLabel for="exampleDropdownFormEmail1">Email address</BlazorLabel>
                <BlazorInput InputType="InputType.Email" id="exampleDropdownFormEmail1" placeholder="email@example.com" />
            </FormGroup>
            <FormGroup>
                <BlazorLabel for="exampleDropdownFormPassword1">Password</BlazorLabel>
                <BlazorInput InputType="InputType.Password" id="exampleDropdownFormPassword1" placeholder="Password" />
            </FormGroup>
            <FormGroup IsCheck="true">
                <BlazorInput InputType="InputType.Checkbox" id="dropdownCheck" />
                <BlazorLabel IsCheck="true" for="dropdownCheck">
                    Remember me
                </BlazorLabel>
            </FormGroup>
            <BlazorButton ButtonType="ButtonType.Submit" Color="Color.Primary">Sign in</BlazorButton>
        </BlazorForm>
        <DropdownItem IsDivider="true" />
        <DropdownItem href="#">New around here? Sign up</DropdownItem>
        <DropdownItem href="#">Forgot password?</DropdownItem>
    </DropdownMenu>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/dropdowns/dropdowns14.html" />

@code {
   

    bool IsOpen12 { get; set; }
    void onclick12(UIMouseEventArgs e)
    {
        IsOpen12 = !IsOpen12;
        StateHasChanged();
    }

    bool IsOpen13 { get; set; }
    void onclick13(UIMouseEventArgs e)
    {
        IsOpen13 = !IsOpen13;
        StateHasChanged();
    }

    bool IsOpen14 { get; set; }
    void onclick14(UIMouseEventArgs e)
    {
        IsOpen14 = !IsOpen14;
        StateHasChanged();
    }

    bool IsOpen15 { get; set; }
    void onclick15(UIMouseEventArgs e)
    {
        IsOpen15 = !IsOpen15;
        StateHasChanged();
    }

    bool IsOpen16 { get; set; }
    void onclick16(UIMouseEventArgs e)
    {
        IsOpen16 = !IsOpen16;
        StateHasChanged();
    }

    bool IsOpen17 { get; set; }
    void onclick17(UIMouseEventArgs e)
    {
        IsOpen17 = !IsOpen17;
        StateHasChanged();
    }

    bool IsOpen18 { get; set; }
    void onclick18(UIMouseEventArgs e)
    {
        IsOpen18 = !IsOpen18;
        StateHasChanged();
    }

    void menuButtonClick(UIMouseEventArgs e)
    {
        Console.WriteLine("Clicked on menu item");
    }
}
