@page "/forms"
@using System.ComponentModel.DataAnnotations;
<h1>Forms</h1>

<Alert Color="Color.Warning">Form tags are not finished. Binding, specifically of the select tag, still needs work.</Alert>

<div class="docs-example">
    <BSForm Model="@formsModel">
        <BSFormGroup>
            <BSLabel For="exampleInputEmail1">Email address</BSLabel>
            <BSInput Id="exampleInputEmail1" InputType="InputType.Email" PlaceHolder="Enter email" @bind-Value="formsModel.Blank" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel For="exampleInputPassword1">Password</BSLabel>
            <BSInput Id="exampleInputPassword1" InputType="InputType.Password" PlaceHolder="Password" @bind-Value="formsModel.Blank" />
        </BSFormGroup>
        <BSFormGroup IsCheck="true">
            <BSInput Id="exampleCheck1" InputType="InputType.Checkbox" @bind-Value="formsModel.Blank" />
            <BSLabel IsCheck="true" For="exampleCheck1">Check me out</BSLabel>
        </BSFormGroup>
        <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</BSButton>
    </BSForm>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms1.html" />

<p>Use @@bind-Value to bind to BSInput value</p>

<div class="docs-example">
    <BSForm Model="@formsModel">
        <BSFormGroup>
            <BSLabel For="exampleFormControlSelect1">Example select</BSLabel>
            <BSInput Id="exampleFormControlSelect1" InputType="InputType.Select" @bind-Value="formsModel.Blank">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </BSInput>
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel For="exampleText">Text Area</BSLabel>
            <BSInput InputType="InputType.TextArea" Name="text" Id="exampleText" Rows="5" @bind-Value="formsModel.Blank" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel For="exampleFormControlFile1">Example file input</BSLabel>
            <BSInput InputType="InputType.File" Id="exampleFormControlFile1" @bind-Value="formsModel.Blank" />
        </BSFormGroup>
    </BSForm>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms2.html" />


<h3>Sizing</h3>

<div class="docs-example">
    <BSBasicInput InputType="InputType.Text" Size="Size.Large" PlaceHolder="Size.Large" />
    <BSBasicInput InputType="InputType.Text" PlaceHolder="Default" />
    <BSBasicInput InputType="InputType.Text" Size="Size.Small" PlaceHolder="Size.Small" />
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms3.html" />

<div class="docs-example">
    <BSBasicInput InputType="InputType.Select" Size="Size.Large">
        <option>Large select</option>
    </BSBasicInput>
    <BSBasicInput InputType="InputType.Select">
        <option>Default select</option>
    </BSBasicInput>
    <BSBasicInput InputType="InputType.Select" Size="Size.Small">
        <option>Small select</option>
    </BSBasicInput>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms4.html" />

<h3>Range Inputs</h3>

<div class="docs-example">
    <BSForm Model="@formsModel">
        <BSFormGroup>
            <BSLabel For="formControlRange">Example Range input</BSLabel>
            <BSInput InputType="InputType.Range" Id="formControlRange" @bind-Value="formsModel.Blank" />
        </BSFormGroup>
    </BSForm>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms5.html" />

<h3>Readonly</h3>

<div class="docs-example">
    <BSBasicInput InputType="InputType.Text" PlaceHolder="Readonly input here…" IsReadonly="true" />
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms6.html" />

<h3>Readonly plain text</h3>

<div class="docs-example">
    <BSForm Model="@formsModel">
        <BSFormGroup IsRow="true">
            <BSLabel For="staticEmail" SM="2">Email</BSLabel>
            <BSCol SM="10">
                <BSInput InputType="InputType.Text" IsReadonly="true" IsPlaintext="true" Id="staticEmail" @bind-Value="formsModel.Email" />
            </BSCol>
        </BSFormGroup>
        <BSFormGroup IsRow="true">
            <BSLabel For="inputPassword" SM="2">Password</BSLabel>
            <BSCol SM="10">
                <BSInput InputType="InputType.Password" Id="inputPassword" @bind-Value="formsModel.Blank" />
            </BSCol>
        </BSFormGroup>
        <BSFormGroup IsRow="true">
            <BSCol SM="2" SMOffset="2">
                <BSButton ButtonType="ButtonType.Submit">Submit</BSButton>
            </BSCol>
        </BSFormGroup>
    </BSForm>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms7.html" />

<h3>Inline Form</h3>

<div class="docs-example">
    <BSForm IsInline="true" Model="@formsModel">
        <BSFormGroup Class="mb-2 mr-sm-2 mb-sm-0">
            <BSLabel For="exampleEmail" Class="mr-sm-2">Email</BSLabel>
            <BSInput InputType="InputType.Email" Name="email" Id="exampleEmail" PlaceHolder="something@idk.cool" @bind-Value="formsModel.Blank" />
        </BSFormGroup>
        <BSFormGroup Class="mb-2 mr-sm-2 mb-sm-0">
            <BSLabel For="examplePassword" class="mr-sm-2">Password</BSLabel>
            <BSInput InputType="InputType.Password" Name="password" Id="examplePassword" PlaceHolder="don't tell!" @bind-Value="formsModel.Blank" />
        </BSFormGroup>
        <BSButton ButtonType="ButtonType.Submit">Submit</BSButton>
    </BSForm>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms8.html" />

<h3>Checkboxes and radios</h3>

<div class="docs-example">
    <BSFormGroup IsCheck="true">
        <BSBasicInput InputType="InputType.Checkbox" Id="defaultCheck1" />
        <BSLabel For="defaultCheck1">Default checkbox</BSLabel>
    </BSFormGroup>
    <BSFormGroup IsCheck="true">
        <BSBasicInput InputType="InputType.Checkbox" Id="defaultCheck2" IsDisabled="true" />
        <BSLabel For="defaultCheck2">Disabled checkbox</BSLabel>
    </BSFormGroup>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms9.html" />

<div class="docs-example">
    <BSFormGroup IsCheck="true">
        <BSBasicInput InputType="InputType.Radio" Name="exampleRadios" Id="exampleRadios1" InputValue="option1" IsChecked="true" />
        <BSLabel For="exampleRadios1">Default radio</BSLabel>
    </BSFormGroup>
    <BSFormGroup IsCheck="true">
        <BSBasicInput InputType="InputType.Radio" Name="exampleRadios" Id="exampleRadios2" InputValue="option2" />
        <BSLabel For="exampleRadios2">Second default radio</BSLabel>
    </BSFormGroup>
    <BSFormGroup IsCheck="true" Class="disabled">
        <BSBasicInput InputType="InputType.Radio" Name="exampleRadios" Id="exampleRadios3" InputValue="option3" IsDisabled="true" />
        <BSLabel For="exampleRadios3">Disabled radio</BSLabel>
    </BSFormGroup>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms10.html" />

<h3>Form Validation</h3>

<div class="docs-example">
    <BSForm Model="@formsModelVal" >
        <DataAnnotationsValidator />
        <BSFormGroup>
            <BSLabel For="exampleEmail3">Input without validation</BSLabel>
            <BSBasicInput InputType="InputType.Text" Id="exampleEmail3" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel For="exampleEmail4">Valid input</BSLabel>
            <BSInput InputType="InputType.Text" Id="exampleEmail4" @bind-Value="@formsModelVal.Valid" ValidateOnChange="true"/>
            <BSFormFeedback For="@(() => formsModelVal.Valid)" ValidMessage="Sweet! that name is available"/>
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel For="exampleEmail5">Invalid input</BSLabel>
            <BSInput InputType="InputType.Text" Id="exampleEmail5" @bind-Value="@formsModelVal.InValid" @ref="@validation" ValidateOnChange="true" />
            <BSFormFeedback For="@(() => formsModelVal.InValid)" ValidMessage="Sweet! you fixed the issue" />
        </BSFormGroup>
    </BSForm>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms11.html" />

<h4>Form Tooltip Validation</h4>
<div class="docs-example">
    <BSForm Model="@formsModelValTT">
        <DataAnnotationsValidator />
        <BSRow>
            <BSFormGroup Class="col-md-12">
                <BSLabel For="exampleEmail6">Input without validation</BSLabel>
                <BSBasicInput InputType="InputType.Text" Id="exampleEmail6" />
            </BSFormGroup>
            <BSFormGroup Class="col-md-12">
                <BSLabel For="exampleEmail7">Valid input</BSLabel>
                <BSInput InputType="InputType.Text" Id="exampleEmail7" @bind-Value="@formsModelValTT.Valid" />
                <BSFormFeedback For="@(() => formsModelValTT.Valid)" IsTooltip="true"  ValidMessage="Sweet! that name is available"/>
            </BSFormGroup>
            <BSFormGroup Class="col-md-12">
                <BSLabel For="exampleEmail8">Invalid input</BSLabel>
                <BSInput InputType="InputType.Text" Id="exampleEmail8" @bind-Value="@formsModelValTT.InValid" @ref="@validationTT" />
                <BSFormFeedback For="@(() => formsModelValTT.InValid)" IsTooltip="true" ValidMessage="Sweet! you fixed the issue"  />
            </BSFormGroup>
        </BSRow>
    </BSForm>
</div>
<PrettyCode CodeFile="_content/SampleCore/snippets/forms/forms12.html" />


@code
{
    BSInput<string> validation;
    BSInput<string> validationTT;
    bool First = true;
    protected override void OnAfterRender()
    {
        if (First)
        {
            First = false;
            validation?.ForceValidate();
            validationTT?.ForceValidate();
            StateHasChanged();
        }

    }

    private FormsModel formsModel = new FormsModel();
    private FormsModel formsModelVal = new FormsModel();
    private FormsModel formsModelValTT = new FormsModel();

    public class FormsModel
    {

        public string Valid { get; set; }
        [Required(AllowEmptyStrings = false, ErrorMessage = "Oh noes! that name is already taken")]
        public string InValid { get; set; }
        public string Blank { get; set; }
        public string Email { get; set; } = "email@example.com";
    }
}