@namespace BlazorStrapService
@inherits BlazorStrapBase

@if (Content == null)
{
<BlazorStrap.InternalComponents.Error Name="BSToast">
    Both <strong>Header</strong> and <strong>Content</strong> RenderFragment are required.
</BlazorStrap.InternalComponents.Error>

return;
}

<div class="@ClassBuilder" @attributes="Attributes" @ref="MyRef">
    @if (Header != null)
    {
        <div class="@HeaderClassBuilder">
            @Header
            <button type="button" class="ms-auto my-auto btn-close @ButtonClassBuilder" data-bs-dismiss="toast" aria-label="Close" @onclick="ClickEvent"></button>
        </div>
    }
    <div class="d-flex">
        <div class="@ContentClassBuilder">
            @Content
        </div>
        @if (Header == null)
        {
            <button type="button" class="m-auto btn-close me-2 @ButtonClassBuilder" data-bs-dismiss="toast" aria-label="Close" @onclick="ClickEvent"></button>
        }
    </div>
</div>