<BSDiv class="@(BS.Input_Group)" MarginBottom="Margins.Medium">
    <span class="@BS.Input_Group_Text">@@</span>
    <BSInput InputType="InputType.Text" placeholder="Username" IsBasic="true"/>
</BSDiv>

<BSDiv class="@(BS.Input_Group)" MarginBottom="Margins.Medium">
    <BSInput InputType="InputType.Text" placeholder="Recipient's username" IsBasic="true"/>
    <span class="@BS.Input_Group_Text">@@example.com</span>
</BSDiv>

<BSLabel>Your vanity URL</BSLabel>
<BSDiv class="@(BS.Input_Group)" MarginBottom="Margins.Medium">
    <span class="@BS.Input_Group_Text" id="basic-addon3">https://example.com/users/</span>
    <BSInput InputType="InputType.Text" IsBasic="true"/>
</BSDiv>

<BSDiv class="@(BS.Input_Group)" MarginBottom="Margins.Medium">
    <span class="@BS.Input_Group_Text">$</span>
    <BSInput InputType="InputType.Text" IsBasic="true"/>
    <span class="@BS.Input_Group_Text">.00</span>
</BSDiv>

<BSDiv class="@(BS.Input_Group)" MarginBottom="Margins.Medium">
    <BSInput InputType="InputType.Text" placeholder="Username" IsBasic="true"/>
    <span class="@BS.Input_Group_Text" >@@</span>
    <BSInput InputType="InputType.Text" placeholder="Server" IsBasic="true"/>
</BSDiv>

<BSDiv class="@(BS.Input_Group)">
    <span class="@BS.Input_Group_Text">With textarea</span>
    <BSInput InputType="InputType.TextArea" IsBasic="true"></BSInput>
</BSDiv>