@namespace BlazorStrap
@inherits BSCarouselItemBase

    <DynamicElement @attributes="@UnknownParameters" TagName="div" class="@Classname" @ontransitionend="AnimationEnd">
        @if (AddActionLink)
        {
        <a href="@ActionLink" target="@ActionLinkTarget">
            @if (IsSvg)
            {
                <BSSvg Class="d-block w-100" Src="@Src" />
            }
            else
            {
                <img class="d-block w-100" src="@Src" alt="@Alt">
            }
        </a>
        }
        else
        {
            @if (IsSvg)
            {
                <BSSvg Class="d-block w-100" Src="@Src" />
            }
            else
            {
                <img class="d-block w-100" src="@Src" alt="@Alt">
            }
        }
        @ChildContent
    </DynamicElement>
