@page "/buttongroups"

<h1>Button Groups</h1>

<div class="docs-example">
    <ButtonGroup>
        <BlazorButton Color="Color.Secondary">Left</BlazorButton>
        <BlazorButton Color="Color.Secondary">Middle</BlazorButton>
        <BlazorButton Color="Color.Secondary">Right</BlazorButton>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Left<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Middle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Right<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>

<h3>Button toolbar</h3>

<div class="docs-example">
    <ButtonGroup IsToolbar="true">
        <ButtonGroup Class="mr-2">
            <BlazorButton Color="Color.Secondary">1</BlazorButton>
            <BlazorButton Color="Color.Secondary">2</BlazorButton>
            <BlazorButton Color="Color.Secondary">3</BlazorButton>
            <BlazorButton Color="Color.Secondary">4</BlazorButton>
        </ButtonGroup>
        <ButtonGroup Class="mr-2">
            <BlazorButton Color="Color.Secondary">5</BlazorButton>
            <BlazorButton Color="Color.Secondary">6</BlazorButton>
            <BlazorButton Color="Color.Secondary">7</BlazorButton>
        </ButtonGroup>
        <ButtonGroup>
            <BlazorButton Color="Color.Secondary">8</BlazorButton>
        </ButtonGroup>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">IsToolbar</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"mr-2"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>1<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>2<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>3<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>4<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"mr-2"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>5<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>6<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>7<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>8<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>


<h3>Sizing</h3>

<div class="docs-example">
    <ButtonGroup Size="Size.Large">
        <BlazorButton Color="Color.Secondary">Left</BlazorButton>
        <BlazorButton Color="Color.Secondary">Middle</BlazorButton>
        <BlazorButton Color="Color.Secondary">Right</BlazorButton>
    </ButtonGroup>
    <ButtonGroup Size="Size.Small">
        <BlazorButton Color="Color.Secondary">Left</BlazorButton>
        <BlazorButton Color="Color.Secondary">Middle</BlazorButton>
        <BlazorButton Color="Color.Secondary">Right</BlazorButton>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Large"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Left<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Middle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Right<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Small"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Left<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Middle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Right<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>

<h3>Nesting</h3>

<div class="docs-example">
    <ButtonGroup>
        <BlazorButton Color="Color.Secondary">1</BlazorButton>
        <BlazorButton Color="Color.Secondary">2</BlazorButton>

        <Dropdown IsGroup="true" IsOpen="@IsOpen">
            <DropdownToggle Color="Color.Secondary" @onclick="@onclick" IsOpen="@IsOpen">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen">
                <DropdownItem href="#">Dropdown link</DropdownItem>
                <DropdownItem href="#">Dropdown link</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>1<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>2<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>

    <span style="color:#89bdff">&lt;<span style="color:#89bdff">Dropdown</span> <span style="color:#89bdff">IsGroup</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen"</span>></span>Dropdown<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen"</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Dropdown link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Dropdown link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">Dropdown</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>

@@code {
    bool IsOpen { get; set; }
    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }
}
</pre></code>


<h3>Vertical Variation</h3>

<div class="docs-example">
    <ButtonGroup IsVertical="true">
        <BlazorButton Color="Color.Secondary">1</BlazorButton>
        <BlazorButton Color="Color.Secondary">2</BlazorButton>

        <Dropdown IsGroup="true" IsOpen="@IsOpen1">
            <DropdownToggle Color="Color.Secondary" @onclick="@onclick1" IsOpen="@IsOpen1">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen1">
                <DropdownItem href="#">Dropdown link</DropdownItem>
                <DropdownItem href="#">Dropdown link</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">IsVertical</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>1<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>2<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>

    <span style="color:#89bdff">&lt;<span style="color:#89bdff">Dropdown</span> <span style="color:#89bdff">IsGroup</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen1"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick1"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen1"</span>></span>Dropdown<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen1"</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Dropdown link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Dropdown link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">Dropdown</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>

@functions {
    bool IsOpen { get; set; }
    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    bool IsOpen1 { get; set; }
    void onclick1(UIMouseEventArgs e)
    {
        IsOpen1 = !IsOpen1;
        StateHasChanged();
    }
}