@page "/dropdowns"

<h1>Dropdowns</h1>

<div class="docs-example">
    <Dropdown IsOpen="@IsOpen">
        <DropdownToggle @onclick="@onclick" IsOpen="@IsOpen">Dropdown</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Dropdown</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick"</span>></span>Dropdown<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Dropdown</span>></span>

@@functions  {
    bool IsOpen { get; set; }
    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }
}
</pre></code>

<Alert Color="Color.Info">
    Currently only buttons are supported as dropdowns. See: https://github.com/aspnet/Blazor/issues/715
</Alert>

<h3>Color Variants</h3>

<p>Add the Color attribute to DropDownToggle to set the button color.</p>

<div class="docs-example">
    <ButtonGroup>
        <Dropdown IsOpen="@IsOpen1">
            <DropdownToggle Color="Color.Primary" @onclick="@onclick1" IsOpen="@IsOpen1">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen1">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown IsOpen="@IsOpen2">
            <DropdownToggle Color="Color.Secondary" @onclick="@onclick2" IsOpen="@IsOpen2">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen2">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown IsOpen="@IsOpen3">
            <DropdownToggle Color="Color.Success" @onclick="@onclick3" IsOpen="@IsOpen3">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen3">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown IsOpen="@IsOpen4">
            <DropdownToggle Color="Color.Info" @onclick="@onclick4" IsOpen="@IsOpen4">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen4">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown IsOpen="@IsOpen5">
            <DropdownToggle Color="Color.Warning" @onclick="@onclick5" IsOpen="@IsOpen5">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen5">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Dropdown IsOpen="@IsOpen6">
            <DropdownToggle Color="Color.Danger" @onclick="@onclick6" IsOpen="@IsOpen6">Dropdown</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen6">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </ButtonGroup>
</div>

<h3>Split Button</h3>

<p>Note that you can also make a DropdownItem into a seperator by adding IsDivider="true" to the DropdownItem.</p>

<div class="docs-example">
    <ButtonGroup>
        <BlazorButton Color="Color.Secondary">Action</BlazorButton>
        <DropdownToggle IsSplit="true" Color="Color.Secondary" onclick="@onclick7" IsOpen="@IsOpen7" />
        <DropdownMenu IsOpen="@IsOpen7">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">IsSplit</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick7"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen7"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen7"</span>></span>        
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>

<h3>Sizing</h3>

<div class="docs-example">
    <ButtonGroup>
        <Dropdown IsOpen="@IsOpen8">
            <DropdownToggle Color="Color.Secondary" Size="Size.Large" @onclick="@onclick8" IsOpen="@IsOpen8">Large button</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen8">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <ButtonGroup>
            <BlazorButton Size="Size.Large" Color="Color.Secondary">Large split button</BlazorButton>
            <DropdownToggle Size="Size.Large" IsSplit="true" Color="Color.Secondary" @onclick="@onclick9" IsOpen="@IsOpen9" />
            <DropdownMenu IsOpen="@IsOpen9">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem IsDivider="true" />
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </ButtonGroup>
    </ButtonGroup>
    <ButtonGroup>
        <Dropdown IsOpen="@IsOpen10">
            <DropdownToggle Color="Color.Secondary" Size="Size.Small" @onclick="@onclick10" IsOpen="@IsOpen10">Small button</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen10">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <ButtonGroup>
            <BlazorButton Size="Size.Small" Color="Color.Secondary">Small split button</BlazorButton>
            <DropdownToggle Size="Size.Small" IsSplit="true" Color="Color.Secondary" onclick="@onclick11" IsOpen="@IsOpen11" />
            <DropdownMenu IsOpen="@IsOpen11">
                <DropdownItem Href="#">Action</DropdownItem>
                <DropdownItem Href="#">Another Action</DropdownItem>
                <DropdownItem IsDivider="true" />
                <DropdownItem Href="#">Yet Another Action</DropdownItem>
            </DropdownMenu>
        </ButtonGroup>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">Dropdown</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen8"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Large"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick8"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen8"</span>></span>Large button<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen8"</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">Dropdown</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Large"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span>></span>Large split button<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Large"</span> <span style="color:#89bdff">IsSplit</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick9"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen9"</span> /></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen9"</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">Dropdown</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen10"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Small"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick10"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen10"</span>></span>Small button<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen10"</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">Dropdown</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Small"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span>></span>Small split button<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Small"</span> <span style="color:#89bdff">IsSplit</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick11"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen11"</span> /></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen11"</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>

<h3>Directions</h3>

<h4>Dropup</h4>

<div class="docs-example">
    <ButtonGroup DropdownDirection="DropdownDirection.Up" IsOpen="@IsOpen12">
        <DropdownToggle Color="Color.Secondary" onclick="@onclick12" IsOpen="@IsOpen12">Dropup</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen12">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
    <ButtonGroup DropdownDirection="DropdownDirection.Up" IsOpen="@IsOpen13">
        <BlazorButton Color="Color.Secondary">Split Dropup</BlazorButton>
        <DropdownToggle IsSplit="true" Color="Color.Secondary" onclick="@onclick13" IsOpen="@IsOpen13" />
        <DropdownMenu IsOpen="@IsOpen13">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
</div>
<code>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">DropdownDirection</span>=<span style="color:#65b042">"DropdownDirection.Up"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen12"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick12"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen12"</span>></span>Dropup<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen12"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">DropdownDirection</span>=<span style="color:#65b042">"DropdownDirection.Up"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen13"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Split Dropup<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">IsSplit</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick13"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen13"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen13"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre>
</code>

<h4>Dropright</h4>

<div class="docs-example">
    <ButtonGroup DropdownDirection="DropdownDirection.Right" IsOpen="@IsOpen14">
        <DropdownToggle Color="Color.Secondary" onclick="@onclick14" IsOpen="@IsOpen14">Dropright</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen14">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
    <ButtonGroup DropdownDirection="DropdownDirection.Right" IsOpen="@IsOpen15">
        <BlazorButton Color="Color.Secondary">Split Dropright</BlazorButton>
        <DropdownToggle IsSplit="true" Color="Color.Secondary" onclick="@onclick15" IsOpen="@IsOpen15" />
        <DropdownMenu IsOpen="@IsOpen15">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">DropdownDirection</span>=<span style="color:#65b042">"DropdownDirection.Right"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen14"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick14"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen14"</span>></span>Dropright<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen14"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">DropdownDirection</span>=<span style="color:#65b042">"DropdownDirection.Right"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen15"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Split Dropright<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">IsSplit</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick15"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen15"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen15"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>

<div class="docs-example">
    <ButtonGroup DropdownDirection="DropdownDirection.Left">
        <DropdownToggle Color="Color.Secondary" onclick="@onclick17" IsOpen="@IsOpen17">Dropleft</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen17">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </ButtonGroup>
    <ButtonGroup DropdownDirection="DropdownDirection.Left">
        <DropdownToggle IsSplit="true" Color="Color.Secondary" @onclick="@onclick18" IsOpen="@IsOpen18" />
        <DropdownMenu IsOpen="@IsOpen18">
            <DropdownItem Href="#">Action</DropdownItem>
            <DropdownItem Href="#">Another Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem Href="#">Yet Another Action</DropdownItem>
        </DropdownMenu>
        <BlazorButton Color="Color.Secondary">Split Dropleft</BlazorButton>
    </ButtonGroup>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">DropdownDirection</span>=<span style="color:#65b042">"DropdownDirection.Right"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@IsOpen14"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick14"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen14"</span>></span>Dropright<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen14"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ButtonGroup</span> <span style="color:#89bdff">DropdownDirection</span>=<span style="color:#65b042">"DropdownDirection.Right"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen15"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>Split Dropright<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">IsSplit</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick15"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen15"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen15"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ButtonGroup</span>></span>
</pre></code>

<h3>Menu Items</h3>

<p>Menu items can be buttons</p>

<div class="docs-example">
    <Dropdown IsOpen="@IsOpen16">
        <DropdownToggle Color="Color.Secondary" @onclick="@onclick16" IsOpen="@IsOpen16">Dropdown</DropdownToggle>
        <DropdownMenu IsOpen="@IsOpen16">
            <DropdownItem IsButton="true" onclick="@menuButtonClick">Action</DropdownItem>
            <DropdownItem IsDivider="true" />
            <DropdownItem IsButton="true" onclick="@menuButtonClick">Yet Another Action</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Dropdown</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen16"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownToggle</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick16"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen16"</span>></span>Dropdown<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownToggle</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen16"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsButton</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@menuButtonClick"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsButton</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@menuButtonClick"</span>></span>Yet Another Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Dropdown</span>></span>
</pre></code>

<p>You can also create non-interactive dropdown items with <code class="highlighter-rouge">.dropdown-item-text</code>. Feel free to style further with custom CSS or text utilities.</p>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <span class="dropdown-item-text">Dropdown item text</span>
        <DropdownItem href="#">Action</DropdownItem>
        <DropdownItem href="#">Another action</DropdownItem>
        <DropdownItem href="#">Something else here</DropdownItem>
    </DropdownMenu>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block;"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"dropdown-item-text"</span>></span>Dropdown item text<span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Another action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Something else here<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
</pre></code>

<h3>Active</h3>
<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownItem href="#">Regular link</DropdownItem>
        <DropdownItem IsActive="true" href="#">Active link</DropdownItem>
        <DropdownItem href="#">Another link</DropdownItem>
    </DropdownMenu>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block;"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Regular link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsActive</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Active link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Another link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
</pre></code>

<h3>Disabled</h3>
<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownItem href="#">Regular link</DropdownItem>
        <DropdownItem IsDisabled="true" href="#">Disabled link</DropdownItem>
        <DropdownItem href="#">Another link</DropdownItem>
    </DropdownMenu>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block;"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Regular link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDisabled</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Disabled link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Another link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
</pre></code>

<h3>Menu content</h3>
<h4>Headers</h4>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownHeader>Dropdown header</DropdownHeader>
        <DropdownItem href="#">Action</DropdownItem>
        <DropdownItem href="#">Another action</DropdownItem>
    </DropdownMenu>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block;"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Regular link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDisabled</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Disabled link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Another link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span><span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block;"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownHeader</span>></span>Dropdown header<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownHeader</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Another action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
</pre></code>

<h4>Dividers</h4>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <DropdownItem href="#">Action</DropdownItem>
        <DropdownItem href="#">Another action</DropdownItem>
        <DropdownItem Href="#">Something else here</DropdownItem>
        <DropdownItem IsDivider="true" />
        <DropdownItem Href="#">Separated link</DropdownItem>
    </DropdownMenu>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block;"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Another action<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Something else here<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Separated link<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
</pre></code>

<h4>Text</h4>
<div class="docs-example">
    <DropdownMenu Class="p-4 text-muted" Style="position: static; display: block; max-width: 200px;">
        <p>
            Some example text that's free-flowing within the dropdown menu.
        </p>
        <p class="mb-0">
            And this is more example text.
        </p>
    </DropdownMenu>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"p-4 text-muted"</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block; max-width: 200px;"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span>></span>
        Some example text that's free-flowing within the dropdown menu.
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mb-0"</span>></span>
        And this is more example text.
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
</pre></code>

<h4>Forms</h4>

<div class="docs-example">
    <DropdownMenu Style="position: static; display: block;">
        <BlazorForm Class="px-4 py-3">
            <FormGroup>
                <BlazorLabel for="exampleDropdownFormEmail1">Email address</BlazorLabel>
                <BlazorInput InputType="InputType.Email" id="exampleDropdownFormEmail1" placeholder="email@example.com" />
            </FormGroup>
            <FormGroup>
                <BlazorLabel for="exampleDropdownFormPassword1">Password</BlazorLabel>
                <BlazorInput InputType="InputType.Password" id="exampleDropdownFormPassword1" placeholder="Password" />
            </FormGroup>
            <FormGroup IsCheck="true">
                <BlazorInput InputType="InputType.Checkbox" id="dropdownCheck" />
                <BlazorLabel IsCheck="true" for="dropdownCheck">
                    Remember me
                </BlazorLabel>
            </FormGroup>
            <BlazorButton ButtonType="ButtonType.Submit" Color="Color.Primary">Sign in</BlazorButton>
        </BlazorForm>
        <DropdownItem IsDivider="true" />
        <DropdownItem href="#">New around here? Sign up</DropdownItem>
        <DropdownItem href="#">Forgot password?</DropdownItem>
    </DropdownMenu>
</div>
<code><pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownMenu</span> <span style="color:#89bdff">Style</span>=<span style="color:#65b042">"position: static; display: block;"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"px-4 py-3"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">for</span>=<span style="color:#65b042">"exampleDropdownFormEmail1"</span>></span>Email address<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Email"</span> <span style="color:#89bdff">id</span>=<span style="color:#65b042">"exampleDropdownFormEmail1"</span> <span style="color:#89bdff">placeholder</span>=<span style="color:#65b042">"email@example.com"</span> /></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">for</span>=<span style="color:#65b042">"exampleDropdownFormPassword1"</span>></span>Password<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Password"</span> <span style="color:#89bdff">id</span>=<span style="color:#65b042">"exampleDropdownFormPassword1"</span> <span style="color:#89bdff">placeholder</span>=<span style="color:#65b042">"Password"</span> /></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Checkbox"</span> <span style="color:#89bdff">id</span>=<span style="color:#65b042">"dropdownCheck"</span> /></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">for</span>=<span style="color:#65b042">"dropdownCheck"</span>></span>
                Remember me
            <span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">ButtonType</span>=<span style="color:#65b042">"ButtonType.Submit"</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span>></span>Sign in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">IsDivider</span>=<span style="color:#65b042">"true"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>New around here? Sign up<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">DropdownItem</span> <span style="color:#89bdff">href</span>=<span style="color:#65b042">"#"</span>></span>Forgot password?<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">DropdownMenu</span>></span>
</pre></code>

@functions {
    bool IsOpen { get; set; }
    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    bool IsOpen1 { get; set; }
    void onclick1(UIMouseEventArgs e)
    {
        IsOpen1 = !IsOpen1;
        StateHasChanged();
    }

    bool IsOpen2 { get; set; }
    void onclick2(UIMouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();
    }

    bool IsOpen3 { get; set; }
    void onclick3(UIMouseEventArgs e)
    {
        IsOpen3 = !IsOpen3;
        StateHasChanged();
    }

    bool IsOpen4 { get; set; }
    void onclick4(UIMouseEventArgs e)
    {
        IsOpen4 = !IsOpen4;
        StateHasChanged();
    }

    bool IsOpen5 { get; set; }
    void onclick5(UIMouseEventArgs e)
    {
        IsOpen5 = !IsOpen5;
        StateHasChanged();
    }

    bool IsOpen6 { get; set; }
    void onclick6(UIMouseEventArgs e)
    {
        IsOpen6 = !IsOpen6;
        StateHasChanged();
    }

    bool IsOpen7 { get; set; }
    void onclick7(UIMouseEventArgs e)
    {
        IsOpen7 = !IsOpen7;
        StateHasChanged();
    }

    bool IsOpen8 { get; set; }
    void onclick8(UIMouseEventArgs e)
    {
        IsOpen8 = !IsOpen8;
        StateHasChanged();
    }

    bool IsOpen9 { get; set; }
    void onclick9(UIMouseEventArgs e)
    {
        IsOpen9 = !IsOpen9;
        StateHasChanged();
    }

    bool IsOpen10 { get; set; }
    void onclick10(UIMouseEventArgs e)
    {
        IsOpen10 = !IsOpen10;
        StateHasChanged();
    }

    bool IsOpen11 { get; set; }
    void onclick11(UIMouseEventArgs e)
    {
        IsOpen11 = !IsOpen11;
        StateHasChanged();
    }

    bool IsOpen12 { get; set; }
    void onclick12(UIMouseEventArgs e)
    {
        IsOpen12 = !IsOpen12;
        StateHasChanged();
    }

    bool IsOpen13 { get; set; }
    void onclick13(UIMouseEventArgs e)
    {
        IsOpen13 = !IsOpen13;
        StateHasChanged();
    }

    bool IsOpen14 { get; set; }
    void onclick14(UIMouseEventArgs e)
    {
        IsOpen14 = !IsOpen14;
        StateHasChanged();
    }

    bool IsOpen15 { get; set; }
    void onclick15(UIMouseEventArgs e)
    {
        IsOpen15 = !IsOpen15;
        StateHasChanged();
    }

    bool IsOpen16 { get; set; }
    void onclick16(UIMouseEventArgs e)
    {
        IsOpen16 = !IsOpen16;
        StateHasChanged();
    }

    bool IsOpen17 { get; set; }
    void onclick17(UIMouseEventArgs e)
    {
        IsOpen17 = !IsOpen17;
        StateHasChanged();
    }

    bool IsOpen18 { get; set; }
    void onclick18(UIMouseEventArgs e)
    {
        IsOpen18 = !IsOpen18;
        StateHasChanged();
    }

    void menuButtonClick(UIMouseEventArgs e)
    {
        Console.WriteLine("Clicked on menu item");
    }
}
