@page "/modals"
@using BlazorStrap.util

<h1>Modals</h1>

<div class="docs-example modal-example">
    <Modal>
        <ModalHeader>Modal title</ModalHeader>
        <ModalBody><p>Modal body text goes here.</p></ModalBody>
        <ModalFooter>
            <BlazorButton Color="Color.Primary">Do Something</BlazorButton>
            <BlazorButton Color="Color.Secondary">Cancel</BlazorButton>
        </ModalFooter>
    </Modal>
</div>
<PrettyCode CodeFile="snippets/modals/modals1.html" />

<h3>Live Demo</h3>
<div class="docs-example">
    <BlazorButton Color="Color.Primary" OnClick="@onclick">Launch demo modal</BlazorButton>
    <Modal IsOpen="@IsOpen">
        <ModalHeader OnClick="@onclick">Modal title</ModalHeader>
        <ModalBody><p>Modal body text goes here.</p></ModalBody>
        <ModalFooter>
            <BlazorButton Color="Color.Secondary" OnClick="@onclick">Close</BlazorButton>
            <BlazorButton Color="Color.Primary" OnClick="@onclick">Save Changes</BlazorButton>
        </ModalFooter>
    </Modal>
</div>
<PrettyCode CodeFile="snippets/modals/modals2.html" />

<h3>Vertically Centered</h3>
<div class="docs-example">
    <BlazorButton Color="Color.Primary" OnClick="@onclick2">Launch demo modal</BlazorButton>
    <Modal IsOpen="@IsOpen2" IsCentered="true">
        <ModalHeader OnClick="@onclick2">Modal title</ModalHeader>
        <ModalBody><p>Modal body text goes here.</p></ModalBody>
        <ModalFooter>
            <BlazorButton Color="Color.Secondary" OnClick="@onclick2">Close</BlazorButton>
            <BlazorButton Color="Color.Primary" OnClick="@onclick2">Save Changes</BlazorButton>
        </ModalFooter>
    </Modal>
</div>
<PrettyCode CodeFile="snippets/modals/modals3.html" />

<h3>Sizes</h3>

<div class="docs-example">
    <BlazorButton Color="Color.Primary" OnClick="@onclick3">Large modal</BlazorButton>
    <Modal IsOpen="@IsOpen3" Size="Size.Large">
        <ModalHeader OnClick="@onclick3">Modal title</ModalHeader>
        <ModalBody><p>Modal body text goes here.</p></ModalBody>
        <ModalFooter>
            <BlazorButton Color="Color.Secondary" OnClick="@onclick3">Close</BlazorButton>
            <BlazorButton Color="Color.Primary" OnClick="@onclick3">Save Changes</BlazorButton>
        </ModalFooter>
    </Modal>
    <BlazorButton Color="Color.Primary" OnClick="@onclick4">Small modal</BlazorButton>
    <Modal IsOpen="@IsOpen4" Size="Size.Small">
        <ModalHeader OnClick="@onclick4">Modal title</ModalHeader>
        <ModalBody><p>Modal body text goes here.</p></ModalBody>
        <ModalFooter>
            <BlazorButton Color="Color.Secondary" OnClick="@onclick4">Close</BlazorButton>
            <BlazorButton Color="Color.Primary" OnClick="@onclick4">Save Changes</BlazorButton>
        </ModalFooter>
    </Modal>
</div>
<PrettyCode CodeFile="snippets/modals/modals4.html" />

@code {
    bool IsOpen { get; set; }
    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }
    bool IsOpen2 { get; set; }
    void onclick2(UIMouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();
    }
    bool IsOpen3 { get; set; }
    void onclick3(UIMouseEventArgs e)
    {
        IsOpen3 = !IsOpen3;
        StateHasChanged();
    }
    bool IsOpen4 { get; set; }
    void onclick4(UIMouseEventArgs e)
    {
        IsOpen4 = !IsOpen4;
        StateHasChanged();
    }
}