@page "/navbars"

<h1>Navbars</h1>

<Alert Color="Color.Info">
    Navbar toggle needs more work
</Alert>

<div class="docs-example">
    <Navbar IsExpand="true" IsDark="false" Color="Color.Light">
        <NavbarBrand Href="#">Navbar</NavbarBrand>
        <NavbarToggler onclick="@onclick" />
        <Collapse isOpen="@IsOpen" IsNavbar="true">
            <BlazorNav IsList="true" Class="mr-auto" IsNavbar="true">
                <NavItem>
                    <BlazorNavLink IsActive="true" Href="#">Home</BlazorNavLink>
                </NavItem>
                <NavItem>
                    <BlazorNavLink Href="#">Link</BlazorNavLink>
                </NavItem>
                <NavItem>
                    <BlazorNavLink IsDisabled="true" Href="#">Disabled</BlazorNavLink>
                </NavItem>
                <NavItem IsDropdown="true" IsOpen="@IsOpen2">
                    <DropdownToggle onclick="@onclick2" IsOpen="@IsOpen2" Color="Color.Light">Dropdown link</DropdownToggle>
                    <DropdownMenu IsOpen="@IsOpen2">
                        <DropdownItem Href="#">Action</DropdownItem>
                        <DropdownItem Href="#">Another Action</DropdownItem>
                        <DropdownItem IsDivider="true" />
                        <DropdownItem Href="#">Yet Another Action</DropdownItem>
                    </DropdownMenu>
                </NavItem>
            </BlazorNav>
            <BlazorForm IsInline="true" Class="my-2 my-lg-0">
                <BlazorInput InputType="InputType.Search" PlaceHolder="Search" Class="mr-sm-2" />
                <BlazorButton IsOutline="true" Color="Color.Success" ButtonType="ButtonType.Submit" Class="my-2 my-sm-0">Search</BlazorButton>
            </BlazorForm>
        </Collapse>
    </Navbar>
</div>
<PrettyCode CodeFile="snippets/navbars/navbars1.html" />

@code {
    bool IsOpen { get; set; } = true;
    void onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    bool IsOpen2 { get; set; }
    void onclick2(UIMouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();
    }
}