@page "/popovers"

<h1>Popovers</h1>

<div class="docs-example">
    <BlazorButton id="popover1" @onclick="@onclick1">Top</BlazorButton>
    <Popover Target="popover1" IsOpen="@IsOpen1" Placement="Placement.Top">
        <PopoverHeader>Top Popover</PopoverHeader>
        <PopoverBody>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</PopoverBody>
    </Popover>
    <BlazorButton Id="popover2" @onclick="@onclick2">Bottom</BlazorButton>
    <Popover Target="popover2" IsOpen="@IsOpen2" Placement="Placement.Bottom">
        <PopoverHeader>Bottom Popover</PopoverHeader>
        <PopoverBody>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</PopoverBody>
    </Popover>
    <BlazorButton Id="popover3" @onclick="@onclick3">Left</BlazorButton>
    <Popover Target="popover3" IsOpen="@IsOpen3" Placement="Placement.Left">
        <PopoverHeader>Left Popover</PopoverHeader>
        <PopoverBody>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</PopoverBody>
    </Popover>
    <BlazorButton Id="popover4" @onclick="@onclick4">Right</BlazorButton>
    <Popover Target="popover4" IsOpen="@IsOpen4" Placement="Placement.Right">
        <PopoverHeader>Right Popover</PopoverHeader>
        <PopoverBody>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</PopoverBody>
    </Popover>
</div>

<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"popover1"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick1"</span>></span>Top<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Popover</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"popover1"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen1"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Top"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverHeader</span>></span>Top Popover<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverHeader</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverBody</span>></span>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverBody</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Popover</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"popover2"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick2"</span>></span>Bottom<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Popover</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"popover2"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen2"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Bottom"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverHeader</span>></span>Bottom Popover<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverHeader</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverBody</span>></span>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverBody</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Popover</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"popover3"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick3"</span>></span>Left<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Popover</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"popover3"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen3"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Left"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverHeader</span>></span>Left Popover<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverHeader</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverBody</span>></span>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverBody</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Popover</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"popover4"</span> <span style="color:#89bdff">onclick</span>=<span style="color:#65b042">"@@onclick4"</span>></span>Right<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Popover</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"popover4"</span> <span style="color:#89bdff">IsOpen</span>=<span style="color:#65b042">"@@IsOpen4"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Right"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverHeader</span>></span>Right Popover<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverHeader</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">PopoverBody</span>></span>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">PopoverBody</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Popover</span>></span>

@@code {
    bool IsOpen1 { get; set; }
    void onclick1(UIMouseEventArgs e)
    {
        IsOpen1 = !IsOpen1;
        StateHasChanged();
    }

    bool IsOpen2 { get; set; }
    void onclick2(UIMouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();
    }

    bool IsOpen3 { get; set; }
    void onclick3(UIMouseEventArgs e)
    {
        IsOpen3 = !IsOpen3;
        StateHasChanged();
    }

    bool IsOpen4 { get; set; }
    void onclick4(UIMouseEventArgs e)
    {
        IsOpen4 = !IsOpen4;
        StateHasChanged();
    }
}
</pre>

<h3>Dismiss on Next Click</h3>

<Alert Color="Color.Info">
    Dismiss on next click does not work at this time.
</Alert>

@functions {
    bool IsOpen1 { get; set; }
    void onclick1(UIMouseEventArgs e)
    {
        IsOpen1 = !IsOpen1;
        StateHasChanged();
    }

    bool IsOpen2 { get; set; }
    void onclick2(UIMouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();
    }

    bool IsOpen3 { get; set; }
    void onclick3(UIMouseEventArgs e)
    {
        IsOpen3 = !IsOpen3;
        StateHasChanged();
    }

    bool IsOpen4 { get; set; }
    void onclick4(UIMouseEventArgs e)
    {
        IsOpen4 = !IsOpen4;
        StateHasChanged();
    }
}