@using Microsoft.AspNetCore.Blazor

<form class="@classname" style="@Style" action="@Action" method="@Method">@ChildContent</form>

@functions {
    string classname
    {
        get
        {
            var inline = IsInline ? "form-inline" : null;
            return $"{inline} {Class}";
        }
    }
    [Parameter]
    private bool IsInline { get; set; }
    [Parameter]
    private string Action { get; set; }
    [Parameter]
    private string Method { get; set; }
    [Parameter]
    private string Class { get; set; }
    [Parameter]
    private string Style { get; set; }
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
