@inherits BootstrapComponentBase
@using BlazorStrap.util

@if (!IsMulti && !IsBar)
{
    <DynamicElement style="@Style" Attributes="@UnknownParameters" TagName="div" class="progress">
        <div class="@classname" style="@styles" role="progressbar" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="@Max">@ChildContent</div>
    </DynamicElement>
}
@if (IsMulti && !IsBar)
{
    <DynamicElement Attributes="@UnknownParameters" TagName="div" class="@classname" style="@Style">
        @ChildContent
    </DynamicElement>
}
@if (!IsMulti && IsBar)
{
    <DynamicElement style="@styles" Attributes="@UnknownParameters" TagName="div" class="@classname" role="progressbar" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="@Max">
        @ChildContent
    </DynamicElement>
}

@functions {
    [Parameter] private int Value { get; set; }
    [Parameter] private int Max { get; set; } = 100;
    string styles
    {
        get
        {
            if (Value == 0) return null;
            var percent = Math.Round(((double)Value / (double)Max) * 100);
            return $"width: {percent}%; {Style}";
        }
    }
    private string classname
    {
        get
        {
            if (IsMulti && !IsBar) return $"progress {Class}";
            var color = Color != Color.None ? $"bg-{Color.ToDescriptionString()}" : null;
            var striped = IsStriped ? "progress-bar-striped" : null;
            var animated = IsAnimated ? "progress-bar-animated" : null;
            return $"progress-bar {striped} {animated} {color} {Class}";
        }
    }
    [Parameter] private Color Color { get; set; } = Color.None;
    [Parameter] private bool IsMulti { get; set; }
    [Parameter] private bool IsBar { get; set; }
    [Parameter] private bool IsStriped { get; set; }
    [Parameter] private bool IsAnimated { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}