@namespace BlazorStrap
@inherits BlazorStrapBase

@if (!IsLink)
{
    <button class="@ClassBuilder" @attributes="Attributes" @onclick="ClickEvent" data-blazorstrap="@DataId" data-blazorstrap-target="@Target">
        @ChildContent
    </button>
}
else
{
    @if (string.IsNullOrEmpty(Target))
    {
        <a href="@Url" class="@ClassBuilder" @attributes="Attributes" data-blazorstrap="@DataId">@ChildContent</a>
    }
    else
    {
        <a href="javascript:void(0)" class="@ClassBuilder" @attributes="Attributes" data-blazorstrap="@DataId" data-blazorstrap-target="@Target" @onclick="ClickEvent" @onclick:preventDefault>@ChildContent</a>
    }
}