@namespace BlazorStrap
@inherits BlazorStrapBase

@if (Toggler != null)
{
    <CascadingValue Value="this">
        @Toggler
    </CascadingValue>
    @if (IsList)
    {
        <li href="javascript:void(0)" class="@ClassBuilder" @attributes="Attributes" @ref="MyRef" data-blazorstrap="@DataId">
            @Content
        </li>
    }
    else
    {
        <div class="@ClassBuilder" @attributes="Attributes" @ref="MyRef" data-blazorstrap="@DataId">
            @Content
        </div>
    }
}
else
{
    @if (IsList)
    {
        <li href="javascript:void(0)" class="@ClassBuilder" @attributes="Attributes" @ref="MyRef" data-blazorstrap="@DataId">
            @ChildContent
        </li>
    }
    else
    {
        <div class="@ClassBuilder" @attributes="Attributes" @ref="MyRef" data-blazorstrap="@DataId">
            @ChildContent
        </div>
    }
}