@namespace BlazorStrap
@inherits BlazorStrapToggleBase<BSModal>
@if (Content == null)
{
    <BlazorStrap.InternalComponents.Error Name="BSModal">
        The <strong>Content</strong> RenderFragment is required.
    </BlazorStrap.InternalComponents.Error>

    return;
}

    <div class="@ClassBuilder" tabindex="-1" @attributes="Attributes" style="@Style" @ref="MyRef" data-blazorstrap="@DataId">
        <div class="@DialogClass">
            <div class="modal-content">
                @if (Header != null)
                {
                    <div class="@HeaderClassBuilder">
                        @Header
                        <button type="button" class="ms-auto btn-close @ButtonClass" data-bs-dismiss="modal" aria-label="Close" @onclick="EventUtil.AsNonRenderingEventHandler(ClickEvent)"></button>
                    </div>
                }
                <div class="@ContentClassBuilder">
                    @Content
                </div>
                <div class="modal-footer">
                    @Footer!(this)
                </div>
            </div>
        </div>
    </div>

<BlazorStrap.InternalComponents.Backdrop ShowBackdrop="@ShowBackdrop" @ref="BackdropRef"/>