@namespace BlazorStrap
@inherits BlazorStrapBase

<div class="@ClassBuilder" style="@(Style+Width)" role="progressbar" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="@Max" @attributes="@Attributes">
    @ChildContent
</div>