@namespace BlazorStrap
@inherits BlazorStrapBase

@if (!IsButton)
{
    <a href="javascript:void(0)" class="@ClassBuilder" aria-expanded="@Show().ToString().ToLower()" @attributes="Attributes" @onclick="EventUtil.AsNonRenderingEventHandler(ClickEvent)" data-blazorstrap="@DataId" data-blazorstrap-target="@Target" >
        @ChildContent 
    </a>
}
else
{
    <button class="@ClassBuilder" aria-expanded="@Show().ToString().ToLower()" @attributes="Attributes" @onclick="ClickEvent" data-blazorstrap="@DataId" data-blazorstrap-target="@Target" >
        @ChildContent
    </button>
}