@inherits BlazorStrap.Shared.Components.Common.BSAlertBase
@namespace BlazorStrap.V5_1


@if (_dismissed) {return;}
<div class="@ClassBuilder" role="alert" @attributes="Attributes">
    @if (Header != null)
    {
        switch (Heading)
        {
            case 1:
                <h1 class="alert-heading">@Header</h1>
                break;
            case 2:
                <h2 class="alert-heading">@Header</h2>
                break;
            case 3:
                <h3 class="alert-heading">@Header</h3>
                break;
            case 4:
                <h4 class="alert-heading">@Header</h4>
                break;
            case 5:
                <h5 class="alert-heading">@Header</h5>
                break;
            case 6:
                <h6 class="alert-heading">@Header</h6>
                break;
        }
        @Content
    }
    else if(HasIcon)
    {
        @((MarkupString)(Icons.GetAlertIcon(Color.NameToLower()) ?? ""));
        @ChildContent
    }
    else
    {
        @ChildContent
    }
    @if (IsDismissible)
    {
        <BSCloseButton @onclick="CloseEventAsync" />
    }
</div>