@namespace BlazorStrap

@if (!IsMulti && !IsBar)
{
    <DynamicElement style="@Style" @attributes="@UnknownParameters" TagName="div" class="progress">
        <div class="@Classname" style="@Styles" role="progressbar" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="@Max">@ChildContent</div>
    </DynamicElement>
}
@if (IsMulti && !IsBar)
{
    <DynamicElement @attributes="@UnknownParameters" TagName="div" class="@ClassnameMulti" style="@Style">
        @ChildContent
    </DynamicElement>
}
@if (!IsMulti && IsBar)
{
    <DynamicElement style="@Styles" @attributes="@UnknownParameters" TagName="div" class="@Classname" role="progressbar" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="@Max">
        @ChildContent
    </DynamicElement>
}